package <%=module%>.domain;

<% if (noCU != 'Y') {%>import com.chinananhang.framework.jdbc.domain.BaseDomain;<%} else {%>import com.chinananhang.framework.jdbc.vo.Page;<%}%>

/**
 * <%=nameCN%> <%=name%>
 */
public class <%=className%> <% if (noCU != 'Y') {%>extends BaseDomain<%} else {%>extends Page<%}%> {

	private static final long serialVersionUID = 1L;
<% fields.forEach(function(field) { %>
	/**
	 * <%=field.alias%> <%=field.comment%>
	 */
	private <%=field.javaType%> <%=field.name%>;
<% })
	fields.forEach(function(field) { %>
	public <%=field.javaType%> get<%=field.fnName%>() {
		return <%=field.name%>;
	}

	public void set<%=field.fnName%>(<%=field.javaType%> <%=field.name%>) {
		this.<%=field.name%> = <%=field.name%>;
	}
<% }) %>
}